
#edit_cat_cp_items{
    margin-left: -63px;
    margin-top: 10px;

}

#edit_cat_cp_items>input{
    margin-bottom: 3px;
    border-radius: 8px;
    border: .1px solid;
    outline-color: orangered;
    border-color: orange;

}

.catCardsUpdateCancel{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.catCardsUpdateCancel>button{
    border: none;
    color: white;
    font-weight: 700;
    background-color: orange;
    border-radius: 8px;
    margin-top: 5px;
}
.catCardsUpdateCancel>button:hover{
    background-color: rgb(234, 185, 120);
    
}