

.helpTheShelterItems{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.helpTheShelterItems>div>h3{
    margin-bottom: 15px;

}

.helpTheShelterItems>div{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.helpTheShelterItems>div>p{
    font-size: 1.3rem;
}

.helpTheShelterItems>div>svg{
    width: 80px;
    height: 80px;
}



/* .tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

