
.about_us{
    padding: 10px 0 30px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.head_info_about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    word-wrap: break-word;
    text-align: center;
    width: 300px; 
}

.head_info_about_us>img{
    height: 290px;
    width: 320px; 
}